* {
    border-collapse: collapse;
    /*font-family: Calibri sans-serif;*/
    font-family: 'Montserrat', sans-serif;
}

body {
    /*background-color: rgba( 27,188,155, 1.0);*/
    margin: 0;
}

nav {
    background: #FFEB3B;
	margin: 0;
}

section header {
    background: #4CAF50;
    height: 40px;
    padding: 10px 0;
    font-size: 20px;
    text-align: center;
    width: 100%;
}
.nav-bar {
    height: 60px;
}

nav.horizontal ul {
	list-style: none;
	width: 100%;
}
nav.horizontal li {
    display: inline-block;
    height: 22px;
    width: 200px;
    text-align: center;
    padding: 1em;
}

nav.horizontal li.active {
    background-color: #4CAF50;
    /*border-top-left-radius: 10px;
    border-top-right-radius: 10px;*/
    font-size: 1.2em;
}

.ruby {
    color: rgb(224, 17, 95);
}

.diamond {
    color: rgb(185,242,255);
}
.display-area {
    /*margin: 1em;*/
    height: 600px;
    /*padding: 0 2em;*/
}
