<section class="scoreboard">

	<header>{{info.description}}</header>
    <article class="words">
        {{#each words}}
        <section class="word-definition">
            <div class="word readable">{{word}}</div>
            <div class="controls">
                <button>Play</button>
            </div>
        </section>
        {{/each}}
    </article>

</section>
