<div>

    <h1>{{info.description}}</h1>

    <article class="words">
        {{#each words}}
        <section class="word-definition">
            <div class="word readable">{{word}}</div>
            <div class="controls">
                <button>Play</button>
            </div>
        </section>
        {{/each}}
    </article>

</div>
